:root {
  --primary-font: "Josefin Sans", sans-serif;
  --secondary-font: "Darker Grotesque", sans-serif;
}
body {
  background-color: rgb(12, 12, 12);
}
section {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/Joan_Jett_-_1994_-_01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1400px 500px;
  color: white;
  text-align: center;
}

header h1 {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 40px 0;
  opacity: 90%;
}
header h2 {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
  opacity: 90%;
}
header h3 {
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
  opacity: 90%;
}
header a {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  margin-bottom: 20px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/Joan_Jett_and_The_Blackhearts_@_Lollapalooza_Brazil_2012.jpg");
  background-position: center;
  background-size: 1400px 500px;
  padding: 100px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 90%;
  margin-right: 20px;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 90%;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
